{
  "openapi": "3.0.3",
  "info": {
    "title": "PMIC Pharma Safety and Approval Signals",
    "version": "0.1.0",
    "description": "Scored drug-market and company safety briefs from openFDA: recalls (all and Class I), adverse event reports, label changes, and NDA/BLA and generic approvals for the US drug market, plus per-company recall and approval activity for Pfizer, Eli Lilly and Johnson & Johnson. Each brief is a 0-100 score with label, trend, drivers, risk flags, confidence and openFDA citations."
  },
  "servers": [
    {
      "url": "https://agentic.organiccryptoyyc.com"
    }
  ],
  "paths": {
    "/v1/verticals": {
      "post": {
        "summary": "List the verticals this service sells.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          },
          "400": {
            "description": "Bad input: JSON object with error {code, message}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brief": {
      "post": {
        "summary": "One scored brief.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "vertical": {
                    "type": "string",
                    "enum": [
                      "drug-market",
                      "company-safety"
                    ]
                  },
                  "entity_id": {
                    "type": "string",
                    "enum": [
                      "pfe",
                      "lly",
                      "jnj"
                    ]
                  },
                  "horizon": {
                    "type": "string",
                    "enum": [
                      "7d",
                      "30d",
                      "90d",
                      "365d"
                    ]
                  }
                },
                "required": [
                  "vertical"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Brief"
                }
              }
            }
          },
          "400": {
            "description": "Bad input: JSON object with error {code, message}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/overview": {
      "post": {
        "summary": "Every brief at once, compact.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entity_id": {
                    "type": "string",
                    "enum": [
                      "pfe",
                      "lly",
                      "jnj"
                    ]
                  },
                  "horizon": {
                    "type": "string",
                    "enum": [
                      "7d",
                      "30d",
                      "90d",
                      "365d"
                    ]
                  }
                },
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          },
          "400": {
            "description": "Bad input: JSON object with error {code, message}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/signals": {
      "post": {
        "summary": "Ranked scored series inside this service's scope.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source_id": {
                    "type": "string",
                    "enum": [
                      "openfda"
                    ]
                  },
                  "horizon": {
                    "type": "string",
                    "enum": [
                      "7d",
                      "30d",
                      "90d",
                      "365d"
                    ]
                  },
                  "sort": {
                    "type": "string",
                    "enum": [
                      "composite",
                      "change",
                      "abs_change",
                      "confidence",
                      "deviation"
                    ]
                  },
                  "direction": {
                    "type": "string",
                    "enum": [
                      "asc",
                      "desc"
                    ]
                  },
                  "min_confidence": {
                    "type": "integer"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 200
                  }
                },
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          },
          "400": {
            "description": "Bad input: JSON object with error {code, message}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/signal": {
      "post": {
        "summary": "One scored series.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "series_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "series_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          },
          "400": {
            "description": "Bad input: JSON object with error {code, message}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/explain": {
      "post": {
        "summary": "Why a series moved over the horizon.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "series_id": {
                    "type": "string"
                  },
                  "horizon": {
                    "type": "string",
                    "enum": [
                      "7d",
                      "30d",
                      "90d",
                      "365d"
                    ]
                  }
                },
                "required": [
                  "series_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          },
          "400": {
            "description": "Bad input: JSON object with error {code, message}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/catalog": {
      "post": {
        "summary": "Series this service covers.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entity_id": {
                    "type": "string"
                  },
                  "q": {
                    "type": "string"
                  }
                },
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          },
          "400": {
            "description": "Bad input: JSON object with error {code, message}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/version": {
      "get": {
        "summary": "Service identity.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/health": {
      "get": {
        "summary": "Readiness.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/events": {
      "post": {
        "summary": "Dated events with source links.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entity_id": {
                    "type": "string",
                    "enum": [
                      "pfe",
                      "lly",
                      "jnj"
                    ]
                  },
                  "event_type": {
                    "type": "string"
                  },
                  "severity": {
                    "type": "string",
                    "enum": [
                      "low",
                      "medium",
                      "high"
                    ]
                  },
                  "since": {
                    "type": "string",
                    "format": "date"
                  },
                  "limit": {
                    "type": "integer"
                  }
                },
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          },
          "400": {
            "description": "Bad input: JSON object with error {code, message}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Object": {
        "type": "object"
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "Brief": {
        "type": "object",
        "properties": {
          "service": {
            "type": "string"
          },
          "vertical": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "insufficient_data"
            ]
          },
          "score": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "nullable": true
          },
          "label": {
            "type": "string",
            "nullable": true
          },
          "trend": {
            "type": "string"
          },
          "trend_basis": {
            "type": "string",
            "nullable": true,
            "enum": [
              "score_history",
              "input_trends",
              null
            ]
          },
          "summary": {
            "type": "string"
          },
          "drivers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "risk_flags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "confidence": {
            "type": "object",
            "properties": {
              "score": {
                "type": "integer"
              },
              "label": {
                "type": "string"
              }
            }
          },
          "inputs": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "watch": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "citations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}
