{
  "openapi": "3.0.3",
  "info": {
    "title": "PMIC Public Sector Signals",
    "version": "0.3.0",
    "description": "Scored US public sector briefs from official government data: product safety recalls (CPSC, NHTSA, FDA food), political money (FEC, Senate lobbying), federal spending (USAspending, Treasury), natural hazards (FEMA, USGS, NWS), cyber threat (CISA KEV, NVD), respiratory illness (CDC), wildfire activity (NIFC), climate anomaly (NOAA), air travel demand (TSA), federal rulemaking (Federal Register), legislation (Congress.gov), environmental enforcement (EPA ECHO), Medicare enrollment (CMS) and nonprofit finances (IRS Form 990). Each brief is a 0-100 score with label, trend versus the horizon, the inputs that drive it, risk flags, confidence and a citation for every input."
  },
  "servers": [
    {
      "url": "https://agentic.organiccryptoyyc.com"
    }
  ],
  "paths": {
    "/v1/verticals": {
      "post": {
        "summary": "List the verticals this service sells.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          },
          "400": {
            "description": "Bad input: JSON object with error {code, message}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brief": {
      "post": {
        "summary": "One scored brief.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "vertical": {
                    "type": "string",
                    "enum": [
                      "product-recalls",
                      "political-money",
                      "federal-spending",
                      "natural-hazards",
                      "cyber-threat",
                      "disease-activity",
                      "wildfire-activity",
                      "climate-anomaly",
                      "travel-demand",
                      "rulemaking",
                      "medicare-providers",
                      "legislation",
                      "environmental-compliance",
                      "nonprofit-finance"
                    ]
                  },
                  "horizon": {
                    "type": "string",
                    "enum": [
                      "7d",
                      "30d",
                      "90d",
                      "365d"
                    ]
                  }
                },
                "required": [
                  "vertical"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Brief"
                }
              }
            }
          },
          "400": {
            "description": "Bad input: JSON object with error {code, message}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/overview": {
      "post": {
        "summary": "Every brief at once, compact.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "horizon": {
                    "type": "string",
                    "enum": [
                      "7d",
                      "30d",
                      "90d",
                      "365d"
                    ]
                  }
                },
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          },
          "400": {
            "description": "Bad input: JSON object with error {code, message}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/signals": {
      "post": {
        "summary": "Ranked scored series inside this service's scope.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source_id": {
                    "type": "string",
                    "enum": [
                      "cpsc",
                      "nhtsa",
                      "openfda",
                      "fec",
                      "lda",
                      "usaspending",
                      "fred",
                      "fema",
                      "usgs",
                      "nws",
                      "cisa",
                      "nvd",
                      "cdc",
                      "nifc",
                      "noaa",
                      "tsa",
                      "fedreg",
                      "cms",
                      "congress",
                      "echo",
                      "irs990"
                    ]
                  },
                  "horizon": {
                    "type": "string",
                    "enum": [
                      "7d",
                      "30d",
                      "90d",
                      "365d"
                    ]
                  },
                  "sort": {
                    "type": "string",
                    "enum": [
                      "composite",
                      "change",
                      "abs_change",
                      "confidence",
                      "deviation"
                    ]
                  },
                  "direction": {
                    "type": "string",
                    "enum": [
                      "asc",
                      "desc"
                    ]
                  },
                  "min_confidence": {
                    "type": "integer"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 200
                  }
                },
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          },
          "400": {
            "description": "Bad input: JSON object with error {code, message}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/signal": {
      "post": {
        "summary": "One scored series.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "series_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "series_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          },
          "400": {
            "description": "Bad input: JSON object with error {code, message}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/explain": {
      "post": {
        "summary": "Why a series moved over the horizon.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "series_id": {
                    "type": "string"
                  },
                  "horizon": {
                    "type": "string",
                    "enum": [
                      "7d",
                      "30d",
                      "90d",
                      "365d"
                    ]
                  }
                },
                "required": [
                  "series_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          },
          "400": {
            "description": "Bad input: JSON object with error {code, message}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/catalog": {
      "post": {
        "summary": "Series this service covers.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entity_id": {
                    "type": "string"
                  },
                  "q": {
                    "type": "string"
                  }
                },
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          },
          "400": {
            "description": "Bad input: JSON object with error {code, message}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/version": {
      "get": {
        "summary": "Service identity.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/health": {
      "get": {
        "summary": "Readiness.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Object": {
        "type": "object"
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "Brief": {
        "type": "object",
        "properties": {
          "service": {
            "type": "string"
          },
          "vertical": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "insufficient_data"
            ]
          },
          "score": {
            "description": "Integer 0-100, or null when status is insufficient_data."
          },
          "label": {
            "description": "The vertical's label for the score, or null with no score."
          },
          "trend": {
            "type": "string"
          },
          "trend_basis": {
            "description": "score_history, input_trends, or null when there is no trend."
          },
          "summary": {
            "type": "string"
          },
          "drivers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "risk_flags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "confidence": {
            "type": "object",
            "properties": {
              "score": {
                "type": "integer"
              },
              "label": {
                "type": "string"
              }
            }
          },
          "inputs": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "watch": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "citations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}
