{
  "openapi": "3.0.3",
  "info": {
    "title": "PMIC Company Fundamentals and Filing Risk",
    "version": "0.5.0",
    "description": "Scored company briefs from SEC EDGAR for 14 large US companies (Apple, Microsoft, Nvidia, Amazon, Walmart, JPMorgan, Bank of America, Exxon, Pfizer, Lilly, J&J, UnitedHealth, Netflix, Disney): fundamentals, filing risk (8-K items, 13D, Form 4), insider activity, balance sheet strength, a peer ranking, earnings quality, shareholder returns (buybacks and dividends), interest coverage, the investment cycle (capex), settlement fails (SEC fails-to-deliver) and institutional ownership (13F). Every input carries its SEC citation."
  },
  "servers": [
    {
      "url": "https://agentic.organiccryptoyyc.com"
    }
  ],
  "paths": {
    "/v1/verticals": {
      "post": {
        "summary": "List the verticals this service sells.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          },
          "400": {
            "description": "Bad input: JSON object with error {code, message}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brief": {
      "post": {
        "summary": "One scored brief.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "vertical": {
                    "type": "string",
                    "enum": [
                      "fundamentals",
                      "filing-risk",
                      "insider-activity",
                      "balance-sheet",
                      "peer-ranking",
                      "public-attention",
                      "earnings-quality",
                      "shareholder-returns",
                      "interest-coverage",
                      "investment-cycle",
                      "settlement-fails",
                      "institutional-ownership"
                    ]
                  },
                  "entity_id": {
                    "type": "string",
                    "enum": [
                      "aapl",
                      "msft",
                      "nvda",
                      "amzn",
                      "wmt",
                      "jpm",
                      "bac",
                      "xom",
                      "pfe",
                      "lly",
                      "jnj",
                      "unh",
                      "nflx",
                      "dis"
                    ]
                  },
                  "horizon": {
                    "type": "string",
                    "enum": [
                      "7d",
                      "30d",
                      "90d",
                      "365d"
                    ]
                  }
                },
                "required": [
                  "vertical"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Brief"
                }
              }
            }
          },
          "400": {
            "description": "Bad input: JSON object with error {code, message}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/overview": {
      "post": {
        "summary": "Every brief for one company.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entity_id": {
                    "type": "string",
                    "enum": [
                      "aapl",
                      "msft",
                      "nvda",
                      "amzn",
                      "wmt",
                      "jpm",
                      "bac",
                      "xom",
                      "pfe",
                      "lly",
                      "jnj",
                      "unh",
                      "nflx",
                      "dis"
                    ]
                  },
                  "horizon": {
                    "type": "string",
                    "enum": [
                      "7d",
                      "30d",
                      "90d",
                      "365d"
                    ]
                  }
                },
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          },
          "400": {
            "description": "Bad input: JSON object with error {code, message}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/signals": {
      "post": {
        "summary": "Ranked scored series inside this service's scope.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source_id": {
                    "type": "string",
                    "enum": [
                      "sec",
                      "wikimedia",
                      "secftd",
                      "sec13f"
                    ]
                  },
                  "horizon": {
                    "type": "string",
                    "enum": [
                      "7d",
                      "30d",
                      "90d",
                      "365d"
                    ]
                  },
                  "sort": {
                    "type": "string",
                    "enum": [
                      "composite",
                      "change",
                      "abs_change",
                      "confidence",
                      "deviation"
                    ]
                  },
                  "direction": {
                    "type": "string",
                    "enum": [
                      "asc",
                      "desc"
                    ]
                  },
                  "min_confidence": {
                    "type": "integer"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 200
                  }
                },
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          },
          "400": {
            "description": "Bad input: JSON object with error {code, message}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/signal": {
      "post": {
        "summary": "One scored series.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "series_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "series_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          },
          "400": {
            "description": "Bad input: JSON object with error {code, message}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/explain": {
      "post": {
        "summary": "Why a series moved over the horizon.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "series_id": {
                    "type": "string"
                  },
                  "horizon": {
                    "type": "string",
                    "enum": [
                      "7d",
                      "30d",
                      "90d",
                      "365d"
                    ]
                  }
                },
                "required": [
                  "series_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          },
          "400": {
            "description": "Bad input: JSON object with error {code, message}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/catalog": {
      "post": {
        "summary": "Series this service covers.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entity_id": {
                    "type": "string"
                  },
                  "q": {
                    "type": "string"
                  }
                },
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          },
          "400": {
            "description": "Bad input: JSON object with error {code, message}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/version": {
      "get": {
        "summary": "Service identity.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/health": {
      "get": {
        "summary": "Readiness.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/events": {
      "post": {
        "summary": "Dated events with source links.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entity_id": {
                    "type": "string",
                    "enum": [
                      "aapl",
                      "msft",
                      "nvda",
                      "amzn",
                      "wmt",
                      "jpm",
                      "bac",
                      "xom",
                      "pfe",
                      "lly",
                      "jnj",
                      "unh",
                      "nflx",
                      "dis"
                    ]
                  },
                  "event_type": {
                    "type": "string"
                  },
                  "severity": {
                    "type": "string",
                    "enum": [
                      "low",
                      "medium",
                      "high"
                    ]
                  },
                  "since": {
                    "type": "string",
                    "format": "date"
                  },
                  "limit": {
                    "type": "integer"
                  }
                },
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          },
          "400": {
            "description": "Bad input: JSON object with error {code, message}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Object": {
        "type": "object"
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "Brief": {
        "type": "object",
        "properties": {
          "service": {
            "type": "string"
          },
          "pack_version": {
            "type": "string"
          },
          "vertical": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "question": {
            "type": "string"
          },
          "entity": {
            "description": "The company ({entity_id, name, ...}) on company briefs; absent otherwise."
          },
          "horizon": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "insufficient_data"
            ]
          },
          "score": {
            "description": "Integer 0-100, or null when status is insufficient_data."
          },
          "label": {
            "description": "The vertical's label for the score, or null with no score."
          },
          "trend": {
            "type": "string"
          },
          "trend_basis": {
            "description": "score_history, input_trends, or null when there is no trend."
          },
          "summary": {
            "type": "string"
          },
          "drivers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "risk_flags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "confidence": {
            "type": "object",
            "properties": {
              "score": {
                "type": "integer"
              },
              "label": {
                "type": "string"
              }
            }
          },
          "inputs": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "watch": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "recent_events": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "citations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                }
              }
            }
          }
        },
        "required": [
          "service",
          "vertical",
          "status",
          "summary"
        ]
      }
    }
  }
}
